header {
    background-color: rgb(86, 158, 251);
    background-image: url('../img/pattern.png');
}

#logo {
    width: 150px;
}

#titolo {
    line-height: 2px;
}

#titolo > p{
    font-size: 14px;
    color: grey;
}

a {
    color: rgb(0, 191, 255);
}

#photos {
    line-height: 2px;
}

#photos > p{
    font-size: 12px;
}

.over-color{
    background-color: yellow;
}

tbody {
    line-height: 50px;
}

thead {
    color: white;
    background-color: lightskyblue;
}

.table-row {
    background-color: lightblue;
}

h5 {
    color: grey;
}

#monitor {
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

#grafico {
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}